@model Intranet.Model.ImageFile

<div class="imageuploader">
    <div class="input">
        
        <label>Bestand: </label>
        <input type="file" name="image" id="d68f001e-0fda-461c-a585-956195825c02"/>
        
        <iframe class="preview"></iframe>
    </div>
</div>