<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sit.Intranet.Domain.Properties.Settings.StofferIT_Intranet_DevConnectionString"
            connectionString="Data Source=localhost\sharepoint;Initial Catalog=StofferIT_Intranet_Dev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>