@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Intranet</h1>

@using (Html.BeginForm("HandleUpload", "Home", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <input type="file" name="postedFile" />
    
    <input type="submit" value="send"/>
}