body 
{
    font-family: Trebuchet, Verdana, sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #666;
}

#content 
{
    background-color: #fff;
}

#content #inner-content {
    margin: auto;
    max-width: 760px;
    min-width: 510px;
}
#content #inner-content.inner {
    padding: 0.5em;
}

div.inner {
    padding-right: 0.5em;
}

#left, #right,#center {
    display: inline-block;
    width: 32.5%;
}

#header {
    min-height: 8em;
    background-color: #ace;
}

#footer 
{
    min-height: 40em;
}
